/* element (tag, classes, ids) {
    style-type: my choice;
    border:none;
    background:;
}

element { rule @1 } */

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* <hidden><hidden>
hidden 

<div class="hidden"></div>
.hidden

<div id="hidden"></div>
#hidden  */

.hidden { display: none; }

html, body {
    height: 100%;
}

body {
   font-family: sans-serif;
   background-color: black;
   color: white; 
}

body {
    overflow-x: hidden;
}

nav ul li {
    list-style: none;
    display: inline-block;
}
nav ul li a {
     text-decoration: none;
     color: white;
     margin-left: 60px;
     font-size: 15px;
     font-weight: 600;
     border-bottom: 2px solid transparent;
     transition: .4s;
}
.content{
    padding-top: 0px;
    text-align: center;
}
.content .main-text{
    position: relative;
    z-index: -2;
    margin-bottom: 50px;
}
.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
.content .main-text a:hover{
    transform: scale(1.2);
    border:1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}

.content .main-text a.cta{
    border: 1px solid #f5dca8;
    color: white;
    background: transparent;
    margin-left: 20px;
}
.content .main-text a.cta i{
    margin-right: 12px;
}
.content .main-text a.cta:hover{
    color:black;
    background: white;
    border:1px solid white;
    transition: .4s;
}
.content .social{
    position: relative;
    z-index: -2;
    padding-bottom: 40px;
}
.content .social a{
    display: inline-block;
    color: #f5dcac;
    margin-right: 25px;
    font-size: 24px;
}
.content .social a:hover{
    transform: scale(1.2);
    transition: .4s;
    color:white;
}
.image {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: right;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 2px solid white;
}
nav ul li.active a{
    border-bottom: 2px solid white;
}

nav ul li.btn a{
    background: transparent;
    color: white;
    border: 1px solid #f5dca8;
    padding: 9px 20px;
    border-radius: 30px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
}
nav ul li.btn:hover a{
    border: 1px solid white;
    color: black;
    background: white;
    transition: .4s;
}
/* main header rules */
header {
    background-color: red;
    text-align:center;
    position: sticky;
    top: 0;
}

#alice-logo {
    width: 300px;
    padding: 10px 0;
}
/* main rules */
#character_nav {
    text-align: center;
    background-color: #675050;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: multiply;
}
.characters { list-style-type: none;}

.characters li {
    position: relative;
    display: inline-block;
    height:220px;
    margin: 10px 8px;
    background-color: black;
    text-align: left;
    cursor: pointer;
}
.characters li h5 {
    position: relative;
    color: white;
    padding: 12px 8px;
    z-index: 500;
}

.characters li a { text-decoration: none; }

.red_bumper {
    width: 100%;
    height: 6px;
    background-color: red;
    transition: height 0.2s ease;

    position: absolute;
}
.characters li:hover .red_bumper { height: 70px; }



.sprite {
    width: 101px;
    height: 150px;
    background-image: url('../images/alicesprite.jpg');

}

#arisu {background-position: 0 0;}
#usagi {background-position: -101px 0;}
#chisiya {background-position: -202px 0;}
#kuina {background-position: -303px 0;}
#niragi {background-position: -404px 0;}
#ann {background-position: -505px 0;}

.sprite:hover {
    background-position-y: -150px !important;
}

section {
    background-image: url('../images/ali.png');
    background-repeat: no-repeat;
    background-position: 40%;
    height: 700px;
    
}

article {
    padding: 20px;
}

article h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 14px;
}

article p {
    width: 80%;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin:0 auto;
}
/* footer rules here */
footer {
    color:white;
    padding: 20px 0 20px 0;
    text-align:center;
}

.sticky_footer {
    background-color: rgba(0,0,0,0.85);
    height:80px;
    position: sticky;
    top: 100%;
}
.lightbox {
    background-color: rgba(0, 0, 0, 0.85);
    position:absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: 5000;
    background-image: url('../images/arisu.jpg');
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    display: none;
}

#lightbox2 { background-image: url('../images/usagi.png');     
}


#lightbox3 { background-image: url('../images/chisiya.jpg');}

#lightbox4 { background-image: url('../images/kuina.png');}

#lightbox5 { background-image: url('../images/niragi.png');}

#lightbox6 { background-image: url('../images/ann.png');}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: red; }

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;

}
.lb_text, .lb_heading {text-align: left;}

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}
.lightbox:target {display: block;}